*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
body{
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.header-contents{
    border-bottom: 1px solid rgb(246, 245, 245);
    box-shadow: 0px 0px 5px;
    padding: 20px;
}
.icon button{
    border: none;
    background-color: transparent;
}
.left-side input{
    background-image: url(search\ \(5\).png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px;
    padding-inline: 35px;
    border-radius: 50px;
    padding-block: 10px;
    border: none;
    background-color: #f6f8fb;
}
.right-heading{
    width: 100%;
    text-align: end;
}
.right-heading p a{
    text-decoration: none;
    color: #5d7186;
}
.left-heading h4{
    color: #313b5e;
}
.right-heading p{
    color: #5d7186;
}
.heading{
    margin-inline: 20px;
    padding: 20px;
}
.settings-heading svg{
    color: #0155f4;
    font-size: 20px;
}
.settings-inner{
    border-radius: 5px;
    box-shadow: var(--bs-box-shadow);
    margin-inline: 30px;
}
.settings-heading{
    border-bottom: 1px dashed #eaedf1;
    padding: 20px;
    gap: 7px;
}
.settings-heading h5{
    color: #313b5e;
}
.settings-body{
    margin-inline: 25px;
    margin-top: 20px;
}
.settings-card{
    border-radius: 5px;
    box-shadow: var(--bs-box-shadow);
    margin-inline: 30px;
    margin-top: 50px;
}
.settings-card-inner{
    border-bottom: 1px dashed #eaedf1;
    padding: 10px;
    gap: 5px;
}
.settings-card-inner p{
    font-size: 1rem;
    font-weight: 600;
    color: #313b5e;
    
}
.settings-card-inner svg{
    color: #0155f4;
}
.category-body{
   padding: 30px;
}
.category-body label{
    margin-bottom: 10px;
}
.check-box {
    margin-bottom: 20px;
}
.category-body-inner{
    margin-bottom: 20px;
}
.customer-settings{
    border-bottom: 1px dashed #eaedf1;
    box-shadow: var(--bs-box-shadow);
    
}
.customer-settings-body{
    gap: 58px;
}
.buttons{
    width: 100%;
    justify-content: end;
    gap: 3px;
    margin-top: 30px;
    
}
.buttons .cancel button{
    border: none;
    border-radius: 5px;
    background-color: #f86d15;
    color: white;
    padding: 10px;
}
.buttons .save button{
    border: none;
    border-radius: 5px;
    background-color: #04cb47;
    color: white;
    padding: 10px;
    margin-right: 30px;
}
.settings-body form label, .textarea label{
    color: #5d7186;
    font-size: .8315rem;
}
.category-body-inner label,input::placeholder{
    color: #5d7186;
    font-size: .8315rem;
}
.category-body label,input::placeholder{
    color: #5d7186;
    font-size: .8315rem;
}
.checkbox{
    gap: 5px;
}
.customers-section-inner,input::placeholder{
    color: #5d7186;
    font-size: .8315rem;
}
.max-login label,input::placeholder{
    color: #5d7186;
    font-size: .8315rem;
}
.footer-section{
    padding: 20px;
    box-shadow: 0 .15rem .5rem 0 rgba(68,64,81,.05);
}
.footer-section p{
    text-align: center;
    color: #5d7186;
}
input::placeholder{
    font-size: .8315rem;
}
.choices select{
    font-size: .8315rem;
}
.checkbox input{
    font-size: .8315rem;
}