*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.nav-bar{
    padding: 10px;
}
nav span{
   
    font-weight: bold;
    font-size: 15px;
}   
header{
    border-bottom: 1px solid #D9DEE4;
}
nav{
    margin-inline-start: 10px;
    margin-inline-end: 30px;
}
.right-side{
    width: 100%;
    text-align: end;
}
.left-side{
    width: 50%;
}
.plan-inner{
    width: 50%;
}
.filter-option{
    width: 50%;
    text-align: end;
    
}
.filter-option select{
    padding:15px;
    font-size: 20px;
    border-radius: 5px;
}
.plan-inner input{
    
    padding-inline: 48px;
    border: none;
    padding-block: 16px;
    border-bottom: 1px solid #EEF0F7;
    background-image: url(search\ \(3\).png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 15px;

}
.plan-inner input::placeholder{
    font-size: 20px;
}
.plan-inner button{
    background-color: #FF6500;
    padding: 13px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    
}
.plan{
    background-color: #fff;
    margin-inline: 20px;
    border: 1px solid #D6D9FF;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.161);
    margin-top: 30px;
}
.plan-box{
    margin-inline: 20px;
    margin-top: 40px;
}
.table-section{
    margin-top: 20px;
    margin-bottom: 61px;
}
table tbody tr td button{
    padding: 5px;
    padding-inline: 20px;
    background-color: #123458;
    color: white;
    border-radius: 5px;
}
.table-section table thead tr th{
    background-color: #123458;
    color: white;
    padding: 15px;
}
.heading{
    margin-top: 30px;
    margin-inline: 20px;
}
.footer-section{
    padding: 35px;
    background-color: #D8F6F5;
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
}
.modal-header{
    background-color: #1BB294;
    margin-top: 10px;
}
.modal-body ul li a{
    text-decoration: none;  
    color: black;
    font-size: 20px;
}
.modal-body ul li span i{
    background-color: #1BB294;
    padding: 10px;
    font-size: 20px;
    margin: 5px;
    
    
}
.nav-icons img{
    cursor: pointer;
}

.modal-body{
    padding-bottom: 0;
    padding-inline: 50px;
}
.modal-dialog{
    width: 100%;
}
.modal-title{
    color: white;
}
.modal-buttons button.btn1{
   background-color: blue;
   padding: 7px;
   padding-inline:40px;
   border-radius: 3px;
   border: none;

}
.modal-buttons button.btn2{
   background-color: red;
   padding: 7px;
   padding-inline:40px;
   border-radius: 3px;
   border: none;
}
.modal-buttons{
    margin-top: 20px;
}
.right-side i{
    font-size: 20px;
    border: 1px solid;
    border-radius: 100%;
    padding: 15px;
    width: 50px;
    background-color: #FF6500;
    color: white;
}