*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
header h2{
    margin-top: 20px;
}
.main-page h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
}
.right-download button{
    padding: 12px 25px;
    color: #fff;
    border: none;
    background-color: #274f7a;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    margin: 0;
    align-items: center;
}

.download-btn{
     border-bottom: 1px solid #EEF0F7;
     padding-bottom: 20px;
}
tbody button{
    padding: 0px 50px;
    border-radius: 4px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    color: black;
    border: 2px solid #274f7a;
    font-size: 19px;
    background-color: transparent;

    
}
.table-heading{
    background-color: #1BB294;
}
.search-bar button{
    padding: 11px 16px;
    background-color:#274f7a;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    
}
.search-bar button i{
    color: white;
}
.search-bar input{
    border: none;
    border-bottom: 1px solid #EEF0F7;
    text-align: center;
    color: #8C98A4;
    padding-top:20px;
    padding-bottom: 20px;
    width: 35%;
}
.search-bar input::placeholder{
    text-align: center;
}

.search-bar{
    
    width: 100%;
}
.select-form{
    padding: 13px 40px;
    color: #1f1e46;
    font-weight: bold;
    border-radius: 4px;
}
.right-download{
    width: 100%;
    text-align: end;
}
.table-section{
    margin-top: 20px;
}
.table-section table thead tr th {
    background: #123458;
    color: white;

}


